@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="row">
        <div class="col-3">
            <a href="/Login/Entrar" class="btn btn-light">Login</a>
        </div>
        <div class="col-3">
            <a href="/Usuarios/Index" class="btn btn-dark">Lista de Usuários</a>
        </div>
        <div class="col-3">
            <a href="/Clientes/Index" class="btn btn-danger">Lista de Clientes</a>
        </div>
      
    </div>
</div>
